{% extends 'layout.html' %}
{% block content %}
	<h5 class="border-bottom font-weight-bold">Dashboard</h5>
	<div class="card">
  		<h6 class="card-header font-weight-bold text-primary">Docker Engine - Community</h6>
  		<div class="row text-center">
  			<div class="col-md-auto text-center">
  				<div class="card-body">
    				<h7 class="card-title font-weight-bold">Docker Version</h7>
    				<p class="card-text">{{ dockerinfo.get('Version') }}</p>
    			</div>	
    		</div>
    		<div class="col-md-auto text-center">
  				<div class="card-body">
    				<h7 class="card-title font-weight-bold">API Version</h7>
    				<p class="card-text">{{ dockerinfo.get('ApiVersion') }}</p>
    			</div>	
    		</div>
    		<div class="col-md-auto text-center">
  				<div class="card-body">
    				<h7 class="card-title font-weight-bold">OS</h7>
    				<p class="card-text">{{ dockerinfo.get('Os') }} - {{ dockerinfo.get('Arch')}}</p>
    			</div>	
    		</div>
    		<div class="col-md-auto text-center">
  				<div class="card-body">
    				<h7 class="card-title font-weight-bold">Kernel Version</h7>
    				<p class="card-text">{{ dockerinfo.get('KernelVersion') }}</p>
    			</div>	
    		</div>
    		<div class="col-md-auto text-center">
  				<div class="card-body">
    				<h7 class="card-title font-weight-bold">CPU Core</h7>
    				<p class="card-text">{{ cpu.get('count') }}</p>
    			</div>	
    		</div>
    		<div class="col-md-auto text-center">
  				<div class="card-body">
    				<h7 class="card-title font-weight-bold">RAM</h7>
    				<p class="card-text">{{ ram }}</p>
    			</div>	
    		</div>		
  		</div>
	</div>
	<div class="container bg-light pt-5 mt-4">
	<div class="card-deck mb-3 text-center">
    	<div class="card mb-4 box-shadow">
        	<div class="card-header">
            	<h5 class="my-0 font-weight-normal">Images</h5>
          	</div>
          	<div class="card-body">
            	<h1 class="card-title pricing-card-title">{{ image_count }}</h1>
            	<button type="button" class="btn btn-lg btn-block btn-primary">Refresh</button>
          	</div>
        </div>
        <div class="card mb-4 box-shadow">
        	<div class="card-header">
            	<h5 class="my-0 font-weight-normal">Containers</h5>
          	</div>
          	<div class="card-body">
            	<h1 class="card-title pricing-card-title">{{ container_count }}</h1>
            		<button type="button" class="btn btn-lg btn-block btn-primary">Refresh</button>
          	</div>
        </div>
        <div class="card mb-4 box-shadow">
        	<div class="card-header">
            	<h5 class="my-0 font-weight-normal">Volumes</h5>
          	</div>
          	<div class="card-body">
            	<h1 class="card-title pricing-card-title">{{ volume_count }}</h1>
            	<button type="button" class="btn btn-lg btn-block btn-primary">Refresh</button>
          	</div>
        </div>
    </div>
	</div>

{% endblock content %}