{% extends 'layout.html' %}
{% block content %}
	<h5 class="font-weight-bold">Volumes</h5>
	<div class="border-top pt-3"></div>
	<!--Top Action Buttons-->
	<button type="button" class="btn btn-info btn-sm float-right m-1">Add Volumes</button>
	<button type="button" class="btn btn-danger btn-sm float-right m-1">Remove</button>
	<button type="button" class="btn btn-secondary btn-sm m-1">
	Volumes <span class="badge badge-light">{{volume_count}}</span>
	<span class="sr-only">unread messages</span>
	</button>
	<a href="{{url_for('volumes')}}"><button type="button" class="btn btn-warning btn-sm m-1"><span class="fas fa-refresh mb-1"></span> Refresh</button></a>
	<!--Table Start-->
	<table class="table table-sm mt-4">
	<thead class="thead-light">
		<tr>
			<th scope="col">
        		<div class="custom-control custom-checkbox">
          			<input type="checkbox" class="custom-control-input" id="tableDefaultCheck1">
          			<label class="custom-control-label" for="tableDefaultCheck1"></label>
        		</div>
			</th>
			<th scope="col">Names</th>
			<th scope="col">Driver</th>
			<th scope="col">Mountpoint</th>
			<th scope="col">Scope</th>
			<th scope="col">Created</th>
			<th scope="col">Details</th>
		</tr>
	</thead>
	<tbody>
		{% if volume_count  > 0 %}
			{% set tablecount = namespace(c=2) %}
			{% for k,v in docker_volume.items() %}
				{% if k == 'Volumes' %}		
					<tr>
						<th scope="row">
							<div class="custom-control custom-checkbox">
          						<input type="checkbox" class="custom-control-input" id="tableDefaultCheck{{ tablecount.c }}">
          						<label class="custom-control-label" for="tableDefaultCheck{{ tablecount.c }}"></label>
        					</div>
						</th>
						<td>{{ v[0]['Name'] }}</td>
						<td>{{ v[0]['Driver'] }}</td>
						<td>{{ v[0]['Mountpoint'] }}</td>
						<td>{{ v[0]['Scope'] }}</td>
						<td>{{ v[0]['CreatedAt'] }}</td>
						<td><a href="#">View</a></td>
					</tr>
				{% endif %}
				{% set tablecount.c = tablecount.c + 1 %}
			{% endfor %}
		{% else %}
			<tr>
				<th scope="row">
					<div class="custom-control custom-checkbox">
          				<input type="checkbox" class="custom-control-input" id="tableDefaultCheck2">
          					<label class="custom-control-label" for="tableDefaultCheck2"></label>
        				</div>
				</th>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
			</tr>
		{% endif %}	
	</tbody>
</table>
<div class="border-top pt-3"></div>
{% endblock content %}